{% extends "layout.html" %} {% block content %}
<h1 class="team">MEET THE TEAM</h1>
<div class="container">
    <div class="row">
        <div class='col-lg-4'>
            <h2>Gabi</h2>
            <img src="Gabi.jpg" height=300px>
            <p> Gabi was addicted to hokey pokey but she turned herself around. She enjoys long walks to the fridge and loves Beenie Babies almost as much as women in commercials love yogurt</p>
        </div>
        <div class='col-lg-4'>
            <h2>Nick</h2>
            <img src="Nick.jpg" height=300px>
            <p> Nick believes you should always give 100%, unless you're donating blood. He changed all his passwords to "incorrect" so that when he forgets, it reminds him "Your password is Incorrect."</p>
        </div>
        <div class='col-lg-4'>
            <h2>Alyssa</h2>
            <img src="Alyssa.jpg" height=300px>
            <p>Alyssa's hobbies include breakfast, lunch, and dinner. She is a recovering ice cream addict who can't stand to be without her BAE (bacon and eggs that is).</p>
        </div>
    </div>
</div>
{% endblock %}
